@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    background-color: #1d3557;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #f1faee;
}

#library-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin: 30px auto;
    max-width: 1000px;
}

#opening-list {
    width: 250px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#opening-list h2 {
    font-size: 20px;
    color: #1d3557;
    margin-bottom: 10px;
    text-align: center;
}

#openings {
    list-style-type: none;
    padding: 0;
}

#openings li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

#openings li:hover {
    background-color: #f1faee;
}

#opening-details {
    flex-grow: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
}

#opening-title {
    font-size: 24px;
    color: #1d3557;
}

#opening-description {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

#opening-board img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.topic {
    display: none;
    margin-top: 20px;
    padding: 0px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.topic h3 {
    font-size: 20px;
    color: #1d3557;
    cursor: pointer;
}

.topic p {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

.topic.active {
    display: block;
}

@media (max-width: 768px) {
    #library-container {
        flex-direction: column;
        align-items: center;
    }

    #opening-list {
        width: 100%;
    }

    #opening-details {
        max-width: 100%;
    }
}
